<% if(success && success.length){ %>

<div class="alert alert-success text-center col-5 offset-3" role="alert">
  <%= success %>
</div>
<% } %> <% if(error && error.length){ %>
<div class="alert alert-danger text-center col-5 offset-3" role="alert">
  <%= error %>
</div>
<% } %>
